USE [ci]
GO
/****** Object:  UserDefinedFunction [dbo].[Code_128_ID]    Script Date: 04.08.2024 18:55:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Давно был найден на просторах интернета. Ссылка не сохранилась */
CREATE Function [dbo].[Code_128_ID](@ID  Integer) RETURNS varchar(255) AS 
BEGIN
  DECLARE  @S  varchar(255)
SET @s = ''
SELECT
  @s =
  CASE @ID
    WHEN 0 THEN '212222'
    WHEN 1 THEN '222122'
    WHEN 2 THEN '222221'
    WHEN 3 THEN '121223'
    WHEN 4 THEN '121322'
    WHEN 5 THEN '131222'
    WHEN 6 THEN '122213'
    WHEN 7 THEN '122312'
    WHEN 8 THEN '132212'
    WHEN 9 THEN '221213'
    WHEN 10 THEN '221312'
    WHEN 11 THEN '231212'
    WHEN 12 THEN '112232'
    WHEN 13 THEN '122132'
    WHEN 14 THEN '122231'
    WHEN 15 THEN '113222'
    WHEN 16 THEN '123122'
    WHEN 17 THEN '123221'
    WHEN 18 THEN '223211'
    WHEN 19 THEN '221132'
    WHEN 20 THEN '221231'
    WHEN 21 THEN '213212'
    WHEN 22 THEN '223112'
    WHEN 23 THEN '312131'
    WHEN 24 THEN '311222'
    WHEN 25 THEN '321122'
    WHEN 26 THEN '321221'
    WHEN 27 THEN '312212'
    WHEN 28 THEN '322112'
    WHEN 29 THEN '322211'
    WHEN 30 THEN '212123'
    WHEN 31 THEN '212321'
    WHEN 32 THEN '232121'
    WHEN 33 THEN '111323'
    WHEN 34 THEN '131123'
    WHEN 35 THEN '131321'
    WHEN 36 THEN '112313'
    WHEN 37 THEN '132113'
    WHEN 38 THEN '132311'
    WHEN 39 THEN '211313'
    WHEN 40 THEN '231113'
    WHEN 41 THEN '231311'
    WHEN 42 THEN '112133'
    WHEN 43 THEN '112331'
    WHEN 44 THEN '132131'
    WHEN 45 THEN '113123'
    WHEN 46 THEN '113321'
    WHEN 47 THEN '133121'
    WHEN 48 THEN '313121'
    WHEN 49 THEN '211331'
    WHEN 50 THEN '231131'
    WHEN 51 THEN '213113'
    WHEN 52 THEN '213311'
    WHEN 53 THEN '213131'
    WHEN 54 THEN '311123'
    WHEN 55 THEN '311321'
    WHEN 56 THEN '331121'
    WHEN 57 THEN '312113'
    WHEN 58 THEN '312311'
    WHEN 59 THEN '332111'
    WHEN 60 THEN '314111'
    WHEN 61 THEN '221411'
    WHEN 62 THEN '431111'
    WHEN 63 THEN '111224'
    WHEN 64 THEN '111422'
    WHEN 65 THEN '121124'
    WHEN 66 THEN '121421'
    WHEN 67 THEN '141122'
    WHEN 68 THEN '141221'
    WHEN 69 THEN '112214'
    WHEN 70 THEN '112412'
    WHEN 71 THEN '122114'
    WHEN 72 THEN '122411'
    WHEN 73 THEN '142112'
    WHEN 74 THEN '142211'
    WHEN 75 THEN '241211'
    WHEN 76 THEN '221114'
    WHEN 77 THEN '413111'
    WHEN 78 THEN '241112'
    WHEN 79 THEN '134111'
    WHEN 80 THEN '111242'
    WHEN 81 THEN '121142'
    WHEN 82 THEN '121241'
    WHEN 83 THEN '114212'
    WHEN 84 THEN '124112'
    WHEN 85 THEN '124211'
    WHEN 86 THEN '411212'
    WHEN 87 THEN '421112'
    WHEN 88 THEN '421211'
    WHEN 89 THEN '212141'
    WHEN 90 THEN '214121'
    WHEN 91 THEN '412121'
    WHEN 92 THEN '111143'
    WHEN 93 THEN '111341'
    WHEN 94 THEN '131141'
    WHEN 95 THEN '114113'
    WHEN 96 THEN '114311'
    WHEN 97 THEN '411113'
    WHEN 98 THEN '411311'
    WHEN 99 THEN '113141'
    WHEN 100 THEN '114131'
    WHEN 101 THEN '311141'
    WHEN 102 THEN '411131'
    WHEN 103 THEN '211412'
    WHEN 104 THEN '211214'
    WHEN 105 THEN '211232'
    WHEN 106 THEN '2331112'
  END
RETURN @S

END
GO
